body {
    margin: 0;
    padding: 0;
    font-size: 21px;
    font-family: "PT Sans", Arial, sans-serif;
    color: #000000;
    font-weight: 400;
    font-style: normal;
    text-transform: uppercase;
    line-height: 1;
    background-color: #f2f2f2;
}
.inner-page {
    color: #000000;
    background-image: none;
    background-color: #f9f6f3;
}
.inner-page .main-header {
    margin-bottom: 0px;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
    height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
            clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    background-color: #ffffff;
}
.cover {
    -webkit-box-shadow: 0 0 30px 10px #dbdbdb;
            box-shadow: 0 0 30px 10px #dbdbdb; 
    width: 1200px;
    margin: 0 auto;
}
.main-navigation {
    margin: 0 auto;
    width: 1200px;
    font-size: 14px;
    line-height: 26px;
    font-weight: 700;
    background-color: #ffffff;
    position: relative;
}
.header-logo img {
    position: absolute;
    z-index: 1;
    left: 0;
    right: 0;
    margin: auto;
}
.main-navigation .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
.site-navigation {
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.site-navigation a {
    display: block;
    padding: 15px 25px;
    vertical-align: middle;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    color: #000000;
}
.site-navigation a:hover {
    color: #81b3d2;
}
.site-navigation a:focus {
    color: #766357;
}
.site-navigation a:active {
    color: rgba(0, 0, 0, 0.33);
}
.site-navigation-left a:first-child {
    margin-right: 98px;
}
.site-navigation-right a:last-child {
    margin-left: 116px;
}
.site-navigation-left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-left: 46px;
    text-align: left;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.site-navigation-right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-right: 46px;
    text-align: right;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.welcome-to-sedona {
    margin-bottom: 3px;
}
.welcome-image {
    text-align: center;
    height: 565px;
    background-image: url("../img/intro_small_.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}
.welcome-image img {
    width: 458px;
    height: 352px;
    padding-top: 76px;
    padding-bottom: 70px;
}
.features-promo {
    text-align: center;
    margin-bottom: 51px;
}
.features-promo h2 {
    margin: 0;
    font-size: 21px;
    line-height: 26px;
    margin-bottom: 27px;
    padding: 0px 300px;
}
.features-promo p {
    font-size: 14px;
    line-height: 26px;
    color: #333333;
}
.features-list {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    counter-reset: features;
    text-align: center;
}
.features-list h2 {
    font-size: 21px;
    line-height: 21px;
    margin: 0;
    margin-bottom: 22px;
}
.features-list span {
    font-size: 14px;
    line-height: 21px;
}
.features-list p {
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    margin-top: 22px;
}
.feature {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 21.33%;
            flex: 1 1 21.33%;
    padding: 45px 50px 80px;
    width: 400px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}
.feature.pictured {
    position: relative;
    -ms-flex-preferred-size: 88.33%;
        flex-basis: 88.33%;
    overflow: hidden;
    color: white;
    background-color: #669EC0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
}
.pictured div {} .pictured h2 {
    padding: 0px 50px;
}
.pictured img {
    width: 66.67%;
    height: 256px;
}
.feature.with-icon {
    background-color: #ffffff;
    padding-top: 55px;
}
.feature.with-icon.apartments {
    padding-top: 59px;
}
.feature.with-icon.food {
    padding-top: 60px;
}
.food img {
    margin-right: 8px;
}
.feature-logo {
    margin-bottom: 28px;
    margin-right: 3px;
}
.feature.with-icon h2,
.feature.with-icon p {
    margin: 0;
    padding: 0;
}
.feature.with-icon h2 {
    margin-bottom: 25px;
}
.feature.alternative {
    background-color: #eeeeee;
    padding: 47px 60px 57px;
}
.feature.alternative h2 {
    padding-left: 70px;
    padding-right: 70px;
}
.feature.right div {
    padding: 45px 50px 40px;
}
.feature.right img {
    right: 0;
}
.feature.left div {
    padding: 45px 45px 40px;
}
.feature.left img {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    left: 0;
}
.interested-in {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
}
.interested-in h3 {
    line-height: 36px;
    font-size: 30px;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 10px;
}
.interested-in p {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 47px;
}
.search-form-title {
    height: 86px;
    width: 568px;
    margin: 0 auto;
    position: relative;
}
.search-form-title a {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 568px;
    height: 86px;
    text-align: center;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    background-color: #766357;
}
.search-form-title a:hover {
    background-color: #604e43;
}
.search-form-title a:active {
    color: #857871;
    background-color: #503e33;
}
.hotel-search {
    position: absolute;
    top: 86px;
    left: 0;
    margin: 0 auto;
    padding: 55px;  
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 568px;
    text-align: center;
    background-color: white;
    -webkit-box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
            box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
    z-index: 2;
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;
}
_:-ms-fullscreen, :root .hotel-search {
    padding: 55px 53px;
}
.hotel-search-invisible {
    display: none;
}
@-webkit-keyframes bounce {
    0% {
        -webkit-transform: translateX(-2000px);
                transform: translateX(-2000px);
    }
    70% {
        -webkit-transform: translateX(30px);
                transform: translateX(30px);
    }
    90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
@keyframes bounce {
    0% {
        -webkit-transform: translateX(-2000px);
                transform: translateX(-2000px);
    }
    70% {
        -webkit-transform: translateX(30px);
                transform: translateX(30px);
    }
    90% {
        -webkit-transform: translateX(-10px);
                transform: translateX(-10px);
    }
    100% {
        -webkit-transform: translateX(0);
                transform: translateX(0);
    }
}
.search-form {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
}
.search-form .form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.form-date-top {
    margin-left: 23px;
}
.form-date-bottom {
    margin-left: 20px;
}
.form:first-child {
    margin-bottom: 29px;
}
.separated-form {
    margin-top: 30px;
}
.form-half-lenght {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.form-half-lenght:last-child {
    margin-left: 54px;
}
.unit-container-left {
    margin-left: 40px;
}
.unit-container-right {
    margin-left: 26px;
}
.search-form input[type="text"] {
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: black;
    background-color: #f2f2f2;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 346px;
    height: 38px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 32px;
    padding-bottom: 8px;
    border: none;
}
.unit-container input[type="text"] {
    text-align: center;
    font-weight: bold;
    font-size: 14px;
    line-height: 26px;
    color: black;
    background-color: #f2f2f2;
    text-transform: uppercase;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 114px;
    height: 38px;
    padding-top: 14px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 13px;
    border: none;
}
.calendar {
    background: inherit;
    border: none;
    cursor: pointer;
    position: absolute;
    width: 21px;
    height: 22px;
}
.calendar path {
    fill: #cacaca;
}
.calendar:hover path {
    fill: #000000;
}
.calendar:active path {
    fill: #81b3d2;
}
.calendar-top {
    top: 16%;
    right: 70px;
}
.calendar-bottom {
    top: 33%;
    right: 70px;
}
.search-form .field {
    background-color: #f2f2f2;
}
.search-form .field:hover {
    background-color: #ebebeb;
}
.search-form .field:focus {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
}
.left-container.minus-btn,
.left-container.plus-btn,
.right-container.minus-btn,
.right-container.plus-btn {
    position: absolute;
    width: 11px;
    height: 11px;
    font-size: 0;
    background: none;
    border: 0;
    cursor: pointer;
}
.left-container.minus-btn {
    top: 205px;
    left: 181px;
}
.left-container.plus-btn {
    top: 205px;
    left: 256px;
}
.right-container.minus-btn {
    top: 205px;
    left: 414px;
}
.right-container.plus-btn {
    top: 205px;
    left: 489px;
}
.plus-btn::after,
.minus-btn::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 0px;
    width: 11px;
    height: 3px;
    background-color: #a9a9a9;
}
.plus-btn::before {
    content: "";
    position: absolute;
    top: 0px;
    left: 4px;
    width: 3px;
    height: 11px;
    background-color: #a9a9a9;
}
.plus-btn:hover::after,
.plus-btn:hover::before,
.minus-btn:hover::after {
    background-color: #000000;
}
.plus-btn:active::after,
.plus-btn:active::before,
.minus-btn:active::after {
    background-color: #81b3d2;
}
.btn.search-btn {
    display: block;
    width: 458px;
    height: 58px;
    margin: 0 auto;
    margin-top: 54px;
    padding: 14px 10px 15px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
    outline: none;
}
.btn.search-btn:hover {
    background-color: #669ec0;
}
.btn.search-btn:active {
    background-color: #5496bd;
    color: #88b6d1;
}
.map {
    position: relative;
}
.pictured-map {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
}
.iframe-map {
    position: relative;
    border:none;
    z-index: 1;
}
.main-footer .container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    padding: 36px 0px;
}
.footer-hashtag,
.footer-social,
.footer-copyright {
    margin: 0;
    width: 256px;
}
.footer-copyright span {
    display: block;
    margin-left: 30px;
    font-size: 14px;
    line-height: 26px;
}
.footer-social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
}
.main-footer .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    opacity: 0.9;
}
.footer-hashtag {
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}
.footer-social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 150px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}
.social-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 46px;
    height: 48px;
    background-color: #81b3d2;
}
.social-button:hover {
    background-color: #669ec0;
}
.social-button:active {
    background-color: #5496bd;
}
.social-button:hover path {
    fill: #ffffff;
}
.social-button:active path {
    fill: #88b6d1;
}
.footer-copyright {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}
.footer-img-container {
    margin-right: 30px;
    width: 115px;
    height: 41px;
}
.footer-copyright-button path {
    fill: #000000;
}
.footer-copyright-button:hover path {
    fill: #81b3d2;
}
.footer-copyright-button:active path {
    fill: #c9c8c8;
}
.main-footer-position {
    position: relative;
    z-index: 1;
    margin-top: -120px;
}
/*Сетка для каталога*/

a.current-page,
a:hover.current-page,
a:active.current-page {
    color: #766357;
}
.searching-options {
    background-color: #554c4c;
    background-image: url("../img/catalog_background_img.jpg");
    background-repeat: no-repeat;
    width: 1200px;
}
.filter {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 72px;
    padding-top: 27px;
    padding-right: 44px;
    padding-bottom: 31px;
    color: #ffffff;
    font-size: 14px;
    line-height: 21px;
    width: 1200px;
    height: 217px;
}
.filter fieldset {
    margin: 0;
    padding: 0;
    border: none;
}
.filter ul {
    list-style: none;
}
.filter legend {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 11px;
}
.filter li {
    margin-bottom: 25px;
}
.filter li:last-child {
    margin-bottom: 0px;
}
.filter-infrastructure {
    margin: 0;
    width: 241px;
    margin-right: 13px;
}
.filter-type {
    margin: 0;
    width: 247px;
    margin-right: 239px;
}
.filter-option {
    position: relative;
    cursor: pointer;
}
.filter-option input[type="checkbox"] + .checkbox-indicator {
    position: absolute;
    top: -2px;
    left: -39px;
    width: 32px;
    height: 32px;
    background-image: url("../img/checkbox-off.svg");
    background-repeat: no-repeat;
}
.filter-option input[type="checkbox"]:checked + .checkbox-indicator {
    background-image: url("../img/checkbox-on.svg");
}
.filter-option input[type="checkbox"]:focus + .checkbox-indicator {
    border-color: #663d15;  
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
.checkbox-blocked {
    fill: #6a6a6a;
}
.filter-price {
    margin: 0;
    width: 316px;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.filter-price legend {
    margin-bottom: 9px;
    font-weight: 600;
    font-size: 16px;
    line-height: 21px;
}
.price-controls {
    position: relative;
    width: 314px;
    height: 32px;
    margin-bottom: 20px;
    font-size: 0;
    border: 2px solid #ffffff;
    border-radius: 2px;
}
.price-controls::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 22px;
    background: #ffffff;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}
.price-field {
    width: 40px;
    padding: 0;
    margin: 0;
    color: inherit;
    font: inherit;
    background: none;
    border: none;
}
.min-price,
.max-price {
    display: inline-block;
    font-size: 14px;
    vertical-align: top;
    cursor: pointer;
    width: 85px;
    line-height: 32px;
    width: 90px;
    padding-left: 60px;
}
.max-price {
    padding-right: 5px;
}
.range-controls {
    position: relative;
    margin-bottom: 32px;
}
.range-controls .scale {
    height: 2px;
    background: rgba(255, 255, 255, 0.3);
}
.range-controls .bar {
    width: 80%;
    height: 2px;
    background-color: #ffffff;
}
.range-toggle {
    position: absolute;
    top: -9px;
    width: 4px;
    height: 4px;
    cursor: pointer;
}
.range-toggle svg:hover {
    width: 22px;
    height: 25px;
}
.range-toggle-min {
    left: 0;
}
.range-toggle-max {
    left: 80%;
}
.filter-button.button {
    display: block;
    margin: 1px auto;
    margin-right: 96px;
    width: 137px;
    height: 36px;
    padding: 6px 30px;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
    background: transparent;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
    cursor: pointer;
}
.filter-button.button:hover {
    color: #000000;
    background: #ffffff;
}
.filter-button.button:focus {
    border-color: #663d15;
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
}
.search-results {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 72px;
    padding-right: 73px;
    border-bottom: 1px solid #e5e5e5;
    margin: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
}
.number-of-coincidences,
.sort,
.sort-buttons,
.sort-links,
.sort-buttons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}
.number-of-coincidences span {
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}
.sort {
    width: 353px;
    font-size: 12px;
    line-height: 18px;
    margin-top: 3px;
    margin-left: 48px;
}
.sort ul {
    list-style: none;
}
.sort-links-current {
    color: #81b3d2;
}
.sort-links {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0;
    padding: 0;
    width: 239px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-left: 40px;
}
.sort-links a {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}
.sort-links a:hover {
    color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}
.sort-links a:active {
    color: #000000;
    border: none;
}
.sort-buttons {
    width: 34px;
    margin-left: 503px;
}
.sort-buttons ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
.sort-buttons-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 34px;
}
.sort-buttons-up path {
    fill: #cacaca;
}
.sort-buttons-up:hover path {
    fill: #231f20;
}
.sort-buttons-up:active path {
    fill: #81b3d2;
}
.sort-buttons-down path {
    fill: #81b3d2;
}
.catalog ul {
    list-style: none;
}
.hotel-title a {
    color: #000000;
    font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}
.hotel-title a:hover {
    color: #81b3d2;
}
.hotel-title a:active {
    color: rgba(0, 0, 0, 0.3);
}
.hotel-title span {
    color: #333333;
    font-size: 14px;
    line-height: 21px;
}
.results-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
}
.results-item {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 1200px;
    padding: 26px 73px;
    padding-bottom: 27px;
    border-bottom: 1px solid #e5e5e5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.results-picture {
    margin: 0;
    margin-top: 4px;
    width: 136px;
    margin-right: 30px;
}
.results-item-info a,
.results-item-book a {
    font-size: 14px;
    line-height: 21px;
}
.results-item-info .button {
    color: #ffffff;
    background-color: #81b3d2;
}
.results-item-info .button:hover {
    background: #669ec0;
}
.results-item-info .button:active {
    color: rgba(255, 255, 255, 0.3);
    background: #5496bd;
}
.results-item-book .button {
    color: #ffffff;
    background-color: #766357;
}
.results-item-book .button:hover {
    background: #604e43;
}
.results-item-book .button:active {
    color: rgba(255, 255, 255, 0.3);
    background: #503e33;
}
.middle-section {
    margin: 0;
    width: 363px;
}
.middle-section h3 {
    margin: 0;
    margin-bottom: 5px;
    padding: 0;
}
.middle-section span {
    font-size: 14px;
    line-height: 21px;
}
.results {
    width: 258px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.results-item-links p {
    display: inline-block;
    margin: 0;
    padding: 0;
    font-size: 14px;
    line-height: 21px;
}
.results-item-links span {
    display: block;
    margin-bottom: 13px;
}
.results-left {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 110px;
    margin-right: 6px;
}
.results-right {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 142px;
}
.results-item-book .button,
.results-item-info .button {
    height: 27px;
    display: inline-block;
    padding: 3px 16px;
    font: inherit;
    text-align: center;
    border: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    vertical-align: top;
    text-decoration: none;
}
.results-item-info {
    margin-right: 6px;
}
.rating {
    margin: 0;
    width: 111px;
    margin-left: 417px;
    text-align: right;
}
.rating-text {
    font-size: 14px;
    line-height: 21px;
}
.rating-bottom {
    text-align: center;
    vertical-align: middle;
    width: 110px;
    height: 27px;
    color: #666666;
    background-color: #f2f2f2;
    margin-top: 43px;
    margin-right: 1px;
}
.rating-top {
    margin-top: 4px;
    width: 110px;
    height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
}
.rating-top svg:not(:first-child) {
    margin-left: 6px;
}
