body {
	margin: 0;
 	padding: 0;

	font-size: 21px;
  	font-family: "PT Sans", Arial, sans-serif;
  	color: #000000;
  	font-weight: 400;
  	font-style: normal;
  	text-transform: uppercase;
  	line-height: 1;

  	background-color: #ffffff;
  	
}

a {
	text-decoration: none;
}

.main-navigation {
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;

	background-color: #ffffff;
}

.site-navigation {
	list-style: none;
}

.site-navigation a {
	color: #000000;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus {
	color: #766357;
}

.site-navigation a:active {
	color: rgba(0,0,0,0.33);
}

.features-promo {
	text-align: center;
}

.features-promo h2 {
	font-size: 21px;
	line-height: 26px;
}

.features-promo p {
	font-size: 14px;
	line-height: 26px;
	color: #333333;
}

.features-list {
	width: 768px;
	text-align: center;
}

.features-list h2 {
	font-size: 21px;
	line-height: 21px;
}

.features-list span {
	font-size: 14px;
 	line-height: 21px;
}

.features-list p {
	font-size: 14px;
	line-height: 21px;
}

.feature.pictured {
	background-color: #81b3d2;
	color:white;
}

.feature.with-icon {
	background-color: #ffffff;
}

.feature.alternative {
	background-color: #eeeeee;
}

.interested-in {
	text-align: center;
}

.interested-in h3{
	line-height: 24px;
	font-size: 30px;
}

.interested-in p{
	line-height: 24px;
}

.hotel-search{
	width: 568px;
}

.search-form{
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
}

.search-form-title {
	text-align: center;
	font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    color: #ffffff;
    background-color: #766357;
}

.search-form-title:hover {
	background-color: #604e43;
}

.search-form-title:active {
	color: #857871;
    background-color: #503e33;
}

.search-form .field {
	background-color: #f2f2f2;
}

.search-form .field:hover {
    background-color: #ebebeb;
}

.search-form .field:focus {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
}

.btn.search-btn {
	width: 458px;
	font-size: 21px;
    line-height: 26px;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
    outline: none;
}

.btn.search-btn:hover {
	background-color: #669ec0;
}

.btn.search-btn:active {
	background-color:#5496bd;
	color: #88b6d1;
}

.main-footer {
	opacity: 0.9;
}

.footer-hashtag {
	font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.footer-social {
  text-align: center;
}

.footer-social ul {
  list-style: none;
}

.social-button {
	background-color: #81b3d2;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}


/*Catalog.html*/
.searching-options {

	background-color: #554c4c;
	background-image: url("img/catalog_background_img.jpg");
	background-repeat: no-repeat;
}

.filter {
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
}

.filter fieldset {
	border: none;
}

.filter ul {
	list-style: none;
}

.filter legend {
	font-size: 16px;
	font-weight: bold;
}

.filter-button.button {
	background: none;
    border: 2px solid #ffffff;
    border-radius: 2px;
    outline: none;
}

.filter-button.button:hover {
	color: #000000;
    background: #ffffff;
}

.number-of-coincidences span {
	font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.sort {
	font-size: 12px;
    line-height: 18px;
}

.sort ul {
	list-style: none;
}

.sort-links-current {
	color: #81b3d2;
}

.sort-links a {
	text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.sort-links a:hover {
	color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.sort-links a:active {
	color: #000000;
    border: none;
}

.sort-buttons ul {
	list-style: none;
}

.catalog ul {
	list-style: none;
}

.hotel-title a {
	color: #000000;
	font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.hotel-title a:hover {
    color: #81b3d2;
}

.hotel-title a:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-title span {
	color: #333333;
	font-size: 14px;
    line-height: 21px;
}

.results-item-info .button {
	color: #ffffff;
    background-color: #81b3d2;
}

.results-item-info .button:hover {
	background: #669ec0;
}

.results-item-info .button:active {
	color: rgba(255, 255, 255, 0.3);
    background: #5496bd;
}


.results-item-book .button{
	color: #ffffff;
    background-color: #766357;
}

.results-item-book .button:hover {
	background: #604e43;
}

.results-item-book .button:active {
	color: rgba(255, 255, 255, 0.3);
    background: #503e33;
}

.rating .rating-text {
	font-size: 14px;
    line-height: 21px;
	color: #666666;
	background-color: #f2f2f2;
}

/*Для жирного шрифта (заголовки)
font-family: pt-sans, sans-serif;
font-style: normal;
font-weight: 700;*/


