body {
	margin: 0;
 	padding: 0;

	font-size: 21px;
  	font-family: "PT Sans", Arial, sans-serif;
  	color: #000000;
  	font-weight: 400;
  	font-style: normal;
  	text-transform: uppercase;
  	line-height: 1;

  	background-color: #f2f2f2;
  	background-image: url(../img/intro_main_big.jpg);
  	background-repeat: no-repeat;
  	background-position: top center;
  	
}

.inner-page {
  color: #000000;
  background-image: none;

  background-color: #f9f6f3;
}

.inner-page .main-header {
  margin-bottom: 0px;

}

a {
	text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
}

.main-navigation {
	margin: 0 auto;
	width: 1200px;
	font-size: 14px;
	line-height: 26px;
	font-weight: 700;

	background-color: #ffffff;
}

/*Построение сетки*/

.header-logo img {
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
	margin: auto;
}

.main-navigation .container{
 
 display: flex;
 justify-content:space-around;
}


.site-navigation {
  margin: 0 auto;
  padding: 0;
  
  list-style: none;  
}

.site-navigation a {
	display: block;
	padding: 15px 25px;
	vertical-align: middle;
	justify-content:space-between;
	color: #000000;
}

.site-navigation a:hover {
	color: #81b3d2;
}

.site-navigation a:focus {
	color: #766357;
}

.site-navigation a:active {
	color: rgba(0,0,0,0.33);
}

.site-navigation-left a:first-child {
	margin-right: 98px;
}

.site-navigation-right a:last-child {
	margin-left: 116px;
}

.site-navigation-left {
	display: flex;
	flex-wrap: wrap;
	margin-left: 46px;
	text-align: left;
	justify-content: flex-start;

}

.site-navigation-right {
	display: flex;
	flex-wrap: wrap;
	margin-right: 46px;
	text-align: right;
	justify-content: flex-end;
}

.welcome-to-sedona {
	margin-bottom:51px;
}

.features-promo {
	text-align: center;
	margin-top: 570px;
	margin-bottom: 51px;	
}

.features-promo h2 {
	font-size: 21px;
	line-height: 26px;
	margin-bottom:25px;
}

.features-promo p {
	font-size: 14px;
	line-height: 26px;
	color: #333333;
}

.features-list {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    counter-reset: features;
    text-align: center;
}

.features-list h2 {
	font-size: 21px;
	line-height: 21px;
	margin:0;
	margin-bottom: 23px;
}

.features-list span {
	font-size: 14px;
 	line-height: 21px;
}

.features-list p {
	font-size: 14px;
	line-height: 21px;
	margin: 0;
	margin-top: 20px;
}

.feature {
    flex: 1 1 21.33%;
    padding: 45px 6% 40px;
    width: 400px;
    box-sizing: border-box;
    height: 256px;
}

.feature.pictured {
    position: relative;
    flex-basis: 88.33%;
    overflow: hidden;
    color: white;
    background-color: #669EC0;
    height: 256px;
}

.feature.pictured img {
    position: absolute;
    top: 50%;
    width: 66.67%;
    height: 258px;
    transform: translateY(-50%);
    object-fit: cover;
}

.feature.with-icon {
	background-color: #ffffff;
	height: 330px;
	padding-top: 55px;
}

.feature.with-icon.apartments {
	padding-top:59px;
}

.feature.with-icon.food {
	padding-top:60px;
}

.feature-logo {
	margin-bottom: 28px;
}

.feature.with-icon h2,
.feature.with-icon p{
	margin: 0;
	padding: 0;
}

.feature.with-icon h2 {
	margin-bottom: 25px;
}

.feature.alternative {
	background-color: #eeeeee;
}

.feature.right {
    padding-right: 72.67%;
}

.feature.right img {
    right: 0;
}

.feature.left {
    padding-left: 72.67%;
}

.feature.left img {
    left: 0;
}

.interested-in {
	height: 288px;
	display: flex;
	flex-direction: column;
	text-align: center;
}

.interested-in h3{
	line-height: 36px;
	font-size: 30px;
	font-weight: bold;
	margin-top: 48px;
	margin-bottom: 10px;
}

.interested-in p{
	font-size: 14px;
	line-height: 24px;
	margin-bottom: 50px;
}

.search-form-title {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 86px;
	width: 568px;
	text-align: center;
	color: #ffffff;
    background-color: #766357;
    margin: 0 auto;
}

.search-form-title a{
	font-size: 21px;
    line-height: 26px;
    font-weight: bold;
}

.search-form-title:hover {
	background-color: #604e43;
}

.search-form-title:active {
	color: #857871;
    background-color: #503e33;
}

.hotel-search {
	position: absolute;
	top:2166px;
	left: 0;
	right: 0;
	margin: auto;
	padding: 55px; 

	box-sizing: border-box;
	width: 568px;
	height: 395px;
	text-align: center;
	background-color: white;
	box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.search-form {
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
}

.search-form .form {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.form-date-top {
	margin-left: 23px;
}

.form-date-bottom {
	margin-left: 20px;
}

.form:first-child {
	margin-bottom: 29px;
}

.separated-form {
	margin-top:30px;
}

.form-half-lenght {
	box-sizing: border-box;
	display: flex;
	align-items: center;
}

.form-half-lenght:last-child {
	margin-left: 54px;
}

.unit-container-left {
	margin-left: 40px;
}

.unit-container-right {
	margin-left: 26px;
}

.search-form input[type="text"] {
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	color: black;
	background-color: #f2f2f2;
	text-transform: uppercase;
	box-sizing: border-box;
	width: 346px;
	height: 38px;
	padding-top: 8px;
	padding-left: 10px;
	padding-right: 32px;
	padding-bottom: 8px;
	border:none;
}

.unit-container input[type="text"]{
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	line-height: 26px;
	color: black;
	background-color: #f2f2f2;
	text-transform: uppercase;
	box-sizing: border-box;
	width: 114px;
	height: 38px;
	padding-top: 14px;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 13px;
	border:none;
}

.calendar {
	background:inherit;
	border: none;
	cursor: pointer;
	position: absolute;
	width: 21px;
	height: 22px;
}

.calendar path {
	fill: #cacaca;
}

.calendar:hover path {
	fill: #000000;
}

.calendar:active path {
	fill: #81b3d2;
}

.calendar-top {
	top: 16%;
	right: 70px;
}

.calendar-bottom {
	top: 33%;
	right: 70px;
}

.search-form .field {
	background-color: #f2f2f2;
}

.search-form .field:hover {
    background-color: #ebebeb;
}

.search-form .field:focus {
    background-color: #ffffff;
    outline: 2px solid #e5e5e5;
}

.left-container.minus-btn,
.left-container.plus-btn,
.right-container.minus-btn,
.right-container.plus-btn {
	position: absolute;
	width: 11px;
	height: 11px;
	font-size: 0;
	background:none;
	border: 0;
	cursor: pointer;
}

.left-container.minus-btn {
	top: 205px;
	left:181px;
}

.left-container.plus-btn {
	top: 205px;
	left:256px;
}

.right-container.minus-btn {
	top: 205px;
	left:414px;
}

.right-container.plus-btn {
	top: 205px;
	left:489px;
}

.plus-btn::after,
.minus-btn::after {
	content: "";
	position: absolute;
	top: 4px;
	left: 0px;
	width: 11px;
	height: 3px;
	background-color: #a9a9a9;
}

.plus-btn::before {
	content: "";
	position: absolute;
	top: 0px;
	left: 4px;
	width: 3px;
	height: 11px;
	background-color: #a9a9a9;
}

.plus-btn:hover::after,
.plus-btn:hover::before,
.minus-btn:hover::after {
	background-color: #000000;
}

.plus-btn:active::after,
.plus-btn:active::before,
.minus-btn:active::after {
	background-color:#81b3d2;
}

.btn.search-btn {
	display: block;
    width: 458px;
    height: 58px;
    margin: 0 auto;
    margin-top: 54px;
    padding: 14px 10px 15px;
    box-sizing: border-box;
    font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #81b3d2;
    border: none;
    outline: none;
}

.btn.search-btn:hover {
	background-color: #669ec0;
}

.btn.search-btn:active {
	background-color:#5496bd;
	color: #88b6d1;
}

.main-footer .container {
	box-sizing: border-box;
	width: 1200px;
	padding: 36px 0px;
}

.footer-hashtag,
.footer-social,
.footer-copyright {
	margin: 0;
	width: 256px;
}

.footer-copyright span {
	display: block;
	margin-left: 30px;
	font-size: 14px;
    line-height: 26px;
}

.footer-social {
	display: flex;
	text-align: center;
}

.main-footer .container {
	display: flex;
	align-items: center;
	text-align: center;
	justify-content: space-around;
	opacity: 0.9;
}

.footer-hashtag {
	font-size: 21px;
    line-height: 26px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;
}

.footer-social ul {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 150px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}

.social-button {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 46px;
	height: 48px;

	background-color: #81b3d2;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active {
	background-color: #5496bd;
}

.social-button:hover path {
	fill: #ffffff;
}

.social-button:active path {
	fill: #88b6d1;
}


.button {
	width: 115px;
	height: 41px;
}

.button:hover path {
	fill: #81b3d2;
}

.button:active path {
	fill: #c9c8c8;
}

.footer-copyright {
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-align: center;
}

.footer-img-container {
	margin-right: 30px;
	width: 115px;
	height: 41px;
}

.footer-copyright-button path {
	fill: #000000;
}

.footer-copyright-button:hover path {
	fill: #81b3d2;
}

.footer-copyright-button:active path {
	fill: #c9c8c8;
}

.main-footer-position {
	margin-top: -121px;
}

/*Сетка для каталога*/

.searching-options {

	background-color: #554c4c;
	background-image: url("../img/catalog_background_img.jpg");
	background-repeat: no-repeat;
	width: 1200px;
	height: 217px;
}

.filter {
	box-sizing: border-box;
	width: 1200px;
	display: flex;
	padding-left: 72px;
	padding-top: 27px;
	padding-right: 44px;
	padding-bottom: 31px;
	color: #ffffff;
	font-size: 14px;
	line-height: 21px;
	width: 1200px;
	height: 217px;
}

.filter fieldset {
	margin:0;
	padding: 0;
	border: none;
}

.filter ul {
	list-style: none;
}

.filter legend {
	font-size: 16px;
	font-weight: bold;
	margin-bottom: 11px;
}

.filter li {
	margin-bottom: 25px;
}

.filter li:last-child {
	margin-bottom: 0px;
}

.filter-infrastructure {
	margin: 0;
	width: 241px;
	margin-right: 13px; 
}

.filter-type {
	margin: 0;
	width: 247px;
	margin-right: 239px;
}

.filter-prise {
	margin: 0;
	width: 316px;
	justify-content: flex-end;
}

.filter-prise legend {
	margin-bottom: 9px;

	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.price-controls {
	position: relative;
	height: 36px;
	margin-bottom: 20px;
	font-size: 0;
	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	width: 2px;
	height: 22px;
	background: #ffffff;
	transform: translate(-50%, -50%);
}

.prise-controls label {
	display: inline-block;
	font-size: 14px;
	line-height: 38px;
	vertical-align: top;
	cursor: pointer;
}

.price-controls .min-prise,
.prise-controls .max-price {
	width: 90px;
	padding-left: 65px;
}

.prise-controls input {
	width: 50px;
	margin: 0;
	color: inherit;
	font: inherit;
	background: none;
	border: none;
	outline: none;
}

.range-controls {
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	background: rgba(255,255,255,0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background-color: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	cursor: pointer;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

.filter-button.button {
	display: block;
	margin:0 auto;
	width: 133px;
	padding: 6px 35px;
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	text-align: center;
	color: #ffffff;
	background: transparent;
	border: 2px solid #ffffff;
	border-radius:2px;
	outline: none;
	cursor: pointer;
}

.filter-button.button:hover {
	color: #000000;
    background: #ffffff;
}

.search-results {
	box-sizing: border-box;
	width: 1200px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 72px;
	padding-right: 73px;
	border-bottom: 1px solid #e5e5e5;
	margin: 0;
	display: flex;
	justify-content:flex-start;

}

.number-of-coincidences,
.sort,
.sort-buttons,
.sort-links,
.sort-buttons-list {
	display: flex;
	align-items: center;
	text-align: center;
}

.number-of-coincidences span {
	font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.sort {
	width: 353px;
	font-size: 12px;
	line-height: 18px;
	margin-top: 3px;
	margin-left: 48px;
}

.sort ul {
	list-style: none;
}

.sort-links-current {
	color: #81b3d2;
}

.sort-links {
	margin: 0;
	padding: 0;
	width: 239px;
	justify-content:space-between;
	margin-left: 40px;
}

.sort-links a {
	text-decoration: none;
    color: rgba(0, 0, 0, 0.3);
    border-bottom: 1px dotted #81b3d2;
}

.sort-links a:hover {
	color: #81b3d2;
    border-bottom: 1px dotted #81b3d2;
}

.sort-links a:active {
	color: #000000;
    border: none;
}

.sort-buttons {
	width: 34px;
	margin-left: 503px;
}

.sort-buttons ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.sort-buttons-list {
	display: flex;
	justify-content:space-between;
	width: 34px;
}

.sort-buttons-up path {
	fill: #cacaca;
}

.sort-buttons-down path {
	fill: #81b3d2;
}

.sort-buttons-down:active path {
	fill: #81b3d2;
}

.sort-buttons-down:hover path {
	fill: #231f20;
}

.catalog ul {
	list-style: none;
}

.hotel-title a {
	color: #000000;
	font-weight: bold;
    font-size: 21px;
    line-height: 26px;
}

.hotel-title a:hover {
    color: #81b3d2;
}

.hotel-title a:active {
    color: rgba(0, 0, 0, 0.3);
}

.hotel-title span {
	color: #333333;
	font-size: 14px;
    line-height: 21px;
}

.results-list {
	display: flex;
	flex-direction: column;
	padding: 0;
	margin: 0;

	list-style: none;
}

.results-item {
	box-sizing: border-box;
	width: 1200px;
	height: 150px;
	padding: 30px 73px;
	border-bottom: 1px solid #e5e5e5;
	display: flex;
	justify-content: space-between;
}

.results-picture {
	margin: 0;
	width: 136px;
	margin-right: 30px;
}

.results-item-info a,
.results-item-book a{
	font-size: 14px;
    line-height: 21px;	
}

.results-item-info .button {
	color: #ffffff;
    background-color: #81b3d2;
}

.results-item-info .button:hover {
	background: #669ec0;
}

.results-item-info .button:active {
	color: rgba(255, 255, 255, 0.3);
    background: #5496bd;
}


.results-item-book .button{
	color: #ffffff;
    background-color: #766357;
}

.results-item-book .button:hover {
	background: #604e43;
}

.results-item-book .button:active {
	color: rgba(255, 255, 255, 0.3);
    background: #503e33;
}

.middle-section {
	margin: 0;
	width: 258px;
	height: 65px;
	box-sizing: border-box;
}

.middle-section h3 {
	margin: 0;
	padding: 0;
	text-align: top;

}

.middle-section span {
	font-size: 14px;
    line-height: 21px;
	margin-bottom: 16px;
}


.results-item-links {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}

.results {
	width: 258px;
	display: flex;
	justify-content: space-between;
}

.results-item-links p {
	margin: 0;
	padding: 0;
	font-size: 14px;
    line-height: 21px;
}

.results-item-links span {
	padding: 0;
}

.results-left {
	width: 110px;
	margin-right: 6px;
}

.results-right {
	width: 142px;
}

.results-item-book .button,
.results-item-info .button{
	height: auto;
	display: inline-block;
	padding: 3px 1px;
	font: inherit;
  	text-align: center;
  	vertical-align: middle;
	border: none;
	box-sizing: border-box;
}

.results-item-info {
	margin-right: 6px;
}

.rating {
	margin: 0;
	width: 111px;
	margin-left: 522px;
	text-align: right;
}

.rating-text {
	font-size: 14px;
    line-height: 21px;
}

.rating-bottom {
	text-align: center;
	vertical-align: middle;
	width: 110px;
	height: 27px;
	color: #666666;
	background-color: #f2f2f2;
	margin-top: 43px;
	margin-right: 1px;
}

.rating-top {
	width: 110px;
	height: 20px;
	display: flex;
	justify-content:flex-end;

}

.rating-top svg:not(:first-child){
	margin-left: 6px;
}
